// custom

.bg-primary {
    background-color: var(--primary-color);
}
.bg-secondary {
    background-color: var(--secondary-color);
}
.bg-primary-light {
    background-color: var(--primary-light-color);
}


// header

// hero

// clients

// about me

// achievements

// skills

// gallery

// job history

// services

// testimonials

// contact me

// footer

