:root {
  --gap: 15px;
  --c1: calc(100% / 12 - 2 * var(--gap));
  --c2: calc(var(--c1) * 2 + 2 * var(--gap));
  --c3: calc(var(--c2) + var(--c1) + 2 * var(--gap));
  --c4: calc(var(--c3) + var(--c1) + 2 * var(--gap));
  --c5: calc(var(--c4) + var(--c1) + 2 * var(--gap));
  --c6: calc(var(--c5) + var(--c1) + 2 * var(--gap));
  --c7: calc(var(--c6) + var(--c1) + 2 * var(--gap));
  --c8: calc(var(--c7) + var(--c1) + 2 * var(--gap));
  --c9: calc(var(--c8) + var(--c1) + 2 * var(--gap));
  --c10: calc(var(--c9) + var(--c1) + 2 * var(--gap));
  --c11: calc(var(--c10) + var(--c1) + 2 * var(--gap));
  --c12: calc(var(--c11) + var(--c1) + 2 * var(--gap));
}

.container {
  display: inline-block;
  width: 100%;
}

.container > .row {
  display: inline-block;
  width: 1200px;
  margin: 10px calc(50% - 600px);
}

.container > .row > .col-1,
.container > .row > .col-2,
.container > .row > .col-3,
.container > .row > .col-4,
.container > .row > .col-5,
.container > .row > .col-6,
.container > .row > .col-7,
.container > .row > .col-8,
.container > .row > .col-9,
.container > .row > .col-10,
.container > .row > .col-11,
.container > .row > .col-12 {
  display: inline-block;
  float: left;
  margin-left: var(--gap);
  margin-right: var(--gap);
}

.container > .row > .col-1 {
  width: var(--c1);
}

.container > .row > .col-2 {
  width: var(--c2);
}

.container > .row > .col-3 {
  width: var(--c3);
}

.container > .row > .col-4 {
  width: var(--c4);
}

.container > .row > .col-5 {
  width: var(--c5);
}

.container > .row > .col-6 {
  width: var(--c6);
}

.container > .row > .col-7 {
  width: var(--c7);
}

.container > .row > .col-8 {
  width: var(--c8);
}

.container > .row > .col-9 {
  width: var(--c9);
}

.container > .row > .col-10 {
  width: var(--c10);
}

.container > .row > .col-11 {
  width: var(--c11);
}

.container > .row > .col-12 {
  width: var(--c12);
}
